body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: #66CCFF;
  font-family: 'Roboto', sans-serif;
}
#root {
  display: flex;
  justify-content: center;
}
