body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #66ccff;
  font-family: "Roboto", sans-serif;
}
#root {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 20%;
  overflow: hidden;
  width: 100%;
  max-width: 500px;
}
